*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #262626;
}
body{
  background: rgb(87,39,0);
  background: linear-gradient(180deg, rgba(87,39,0,1) 0%, rgba(255,113,0,1) 100%);
}
header{
  height: 10vh;
  display: flex;
  align-items: center;
}
header span{
  margin: 1rem;
  padding: .7rem;
  scale: 1.3;
  color: #e7e7e7;
  transition: .5s;
}
header span:hover{
  scale: 1.7;
  color: #F26202;
}
main{
    height: 80vh;
    display: flex;
    align-items: center;
}
footer{
  height: 10vh;
}
#container_cadastro{
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  background: #e7e7e7;
  padding: 1.5rem;
  border-radius: 10px;
}
#header_cadastro{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom:#ff8018 solid 1px;
}
form{
  padding: 1rem;
}
.label-float{
    position: relative;
    padding: 1rem 0 1rem 0;
}  
.label-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  background: none;
  outline: none;
  min-width: 75%;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  border-radius: 0;
  } 
.label-float input:focus{
  border-bottom: 2px solid #ff8018;
}  
.label-float input::placeholder{
  color:transparent;
}  
.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}  
.label-float input:required:invalid + label{
  color: red;
}
.label-float input:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #ff8018;
}
#footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
#termos_subcontainer{
  font-size: 0.7rem;
}
#termos_subcontainer a{
  cursor: pointer;
  text-decoration: underline;
  color: #ff8018;
  transition: .5s;
}
#termos_subcontainer a:hover{
  color: #c75000;
}
#btnSubmit{
  margin-top: 1rem;
  padding: 0.7rem;
  font-weight: bold;
  float: right;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  background: rgb(255,179,118);
  background: linear-gradient(42deg, rgba(255,179,118,1) 1%, rgba(255,128,24,1) 100%);
  transition: 0.5s;
}
#btnSubmit:hover{
  scale: 1.05;
  border: 1px solid #262626;
}