*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #222;
    color: #ddd9ce;
}
#main{
    display: flex;
    flex-direction: row;
    width: 100vw;height: 100vh;
    border: 1px red solid;
    z-index: 2;
}
.leftContainer, .rightContainer{
    border: red 1px solid;
    width: 50%; height: 90%;
    display: flex;
    align-items: center;
}
.formCadastro{
margin: 0 auto;
border: blue 1px solid;
padding: 0.7em;

}
.formLogin{
    margin: 0 auto;
    border: blue 1px solid;
    padding: 0.7em;
}

.animation{
    width: 100px; height: 100px;
    background-color: black;
    z-index: 1;
}

.email{
    border: 0.3em orangered solid;
    outline: none;
    transition: all 0.3s;

}
.label{
    transition: all 0.2s;
    z-index: 1;
    padding: 0.1em;
    position: absolute;
    

}
.label::before {
content: "";
position: absolute;
z-index: -1;
}
.email:focus {
    border: 0.2em solid orangered;
}
.email:focus + .label,.filled {
    top: -0.3em;
}
.email::placeholder {
opacity: 0;
transition: all 0.3s;
}
.email:focus::placeholder {
    opacity: 1;
}

